.body{
  overflow: hidden;
}

.container{
  background-color: white;
  height: 100vh;
  width: 99vw;
  display: grid;

  grid-template-columns: 35% 65%;
  grid-template-rows: 5% 10% 1fr;

  padding: 10px;
  gap: 10px;
  box-sizing: border-box;

}

.container div{
  padding: 5px;
  /* border: 1px solid black; */
}

.header{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  background: linear-gradient(to right, #000046, #1cb5e0, #000046);;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

.header p{
  margin-top: 0.5%;
}


/* Issue Header */
.issue-container{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

}

.issue_header_container{
  border-bottom: 1px solid #c5c5c5;
}

.issue_header{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;

  grid-template-columns: 10% 1fr 1fr 20%;
  grid-template-rows: 1fr;
  display: grid;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  
}

.issue_header_id{
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 1px solid #c5c5c5;
}
.issue_header_name{
  grid-column-start: 2;
  grid-column-end: 3;
  border-right: 1px solid #c5c5c5;
}
.issue_header_issue{
  grid-column-start: 3;
  grid-column-end: 4;
  border-right: 1px solid #c5c5c5;
}
.issue_header_status{
  grid-column-start: 4;
  grid-column-end: 5;
}

/* Filter Body */
.filter_img{
  width: 10px;
}

.filter-body{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  /* background-color: #f7f7f7; */
  border-radius: 6px;

  grid-template-columns: 10% 1fr 1fr 20%;
  grid-template-rows: 1fr;
  display: grid;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}

.filter_header_name{
  grid-column-start: 2;
  grid-column-end: 3;
  /* border-right: 1px solid #c5c5c5; */
  /* border-left: 1px solid #c5c5c5; */

}
.filter_header_issue{
  grid-column-start: 3;
  grid-column-end: 4;
  /* border-right: 1px solid #c5c5c5; */
}
.filter_header_status{
  grid-column-start: 4;
  grid-column-end: 5;
}

.hoverbtn{
  /* background-color: #f7f7f7; */
  background-color: white;
  cursor: pointer;
  transition: border .3s;
  border: none;
  border-radius: 3px;
  background-color: #f7f7f7;
  /* padding: 3px; */
}

.hoverbtn:hover{
  border: 1px solid black;
}

/* Issue Body */

.issues{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.issue-list{
  grid-template-columns: 10% 1fr 1fr 20%;
  display: grid;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
}

.issue-id{
  grid-column-start: 1;
  grid-column-end: 2;
  white-space: nowrap;
  overflow-y: hidden;
  -ms-overflow-style: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  transition: box-shadow .3s;
  transition: font-size .3s;
}

.issue-id:hover{
  overflow-y: visible; 
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
}


.issue-id::-webkit-scrollbar{
  display:none;
}

.issue-name{
  grid-column-start: 2;
  grid-column-end: 3;
  white-space: nowrap;
  overflow-y: hidden;
  -ms-overflow-style: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: left;
  transition: box-shadow .3s;
  transition: font-size .3s;
}

.issue-name:hover{
  overflow-y: visible; 
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
  font-size: 12px;
}


.issue-name::-webkit-scrollbar{
  display:none;
}

.issue-issue{
  grid-column-start: 3;
  grid-column-end: 4;
  white-space: nowrap;
  overflow-y: hidden;
  -ms-overflow-style: none;
  background-color: #f7f7f7;
  border-radius: 5px;
  text-align: left;
  transition: box-shadow .3s;
  transition: font-size .3s;
}

.issue-issue:hover{
  overflow-y: visible; 
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
  font-size: 12px;
}


.issue-issue::-webkit-scrollbar{
  display:none;
}

.issue-status{
  grid-column-start: 4;
  grid-column-end: 5;
  white-space: nowrap;
  overflow-y: hidden;
  -ms-overflow-style: none;
  border-radius: 5px;
  color: white;
  transition: box-shadow .6s;
  transition: font-size .1s;
}

.issue-status:hover{
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.issue-status::-webkit-scrollbar{
  display:none;
}



/* Timeline Header */

.timeline_header{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: center;
  border-bottom: 1px solid #c5c5c5;

}

.timeline_header_wrapper{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-radius: 5px;


}

.Q1{
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 1px solid #c5c5c5;
}

.Q2{
  grid-column-start: 2;
  grid-column-end: 3;
  border-right: 1px solid #c5c5c5;
}

.Q3{
  grid-column-start: 3;
  grid-column-end: 4;
  border-right: 1px solid #c5c5c5;
}

.Q4{
  grid-column-start: 4;
  grid-column-end: 5;
  border-right: 1px solid #c5c5c5;
}

.Q5{
  grid-column-start: 5;
  grid-column-end: 6;
}

/* Time Line */

.timeline{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.bar-border{
  border-bottom: 1px solid #c5c5c5;
}

.bar-border:nth-child(even){
  background-color: #f7f7f7
}

.bar-hover{
  transition: box-shadow .3s;
}

.bar-hover div:hover{
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
  padding: 6px;
}


.bar .label1{
  visibility: hidden;
  width: 70px;
  background-color: #f7f7f7;
  color: black;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
  transition: box-shadow .3s;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 27px;
  right: 100%;
  left: -35px;
}

.bar .label1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f7f7f7 transparent;
}


.bar .label2{
  visibility: hidden;
  width: 70px;
  background-color: #f7f7f7;
  color: black;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
  transition: box-shadow .3s;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 27px;
  left: 100%;
  margin-left: -35px;

}

.bar .label2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f7f7f7 transparent;
}

.bar .label3{
  visibility: hidden;
  width: 70px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  right: 50%;
  margin-right: -35px;
  transition: visibility .1s;
  transition: color .3s;
  
}

.bar:hover .label1{
  visibility: visible;
  opacity: .6;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
}

.bar:hover .label2{
  visibility: visible;
  opacity: .6;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
}

.bar:hover .label3{
  visibility: visible;
  color: rgba(255, 255, 255, 1);

}
